* {
  margin: 0;
  padding: 0;
}

:root {
  --background: rgb(40,40,40);
  --card-background: rgb(100,100,100);
  --text-color: antiquewhite;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--background);
  color: var(--text-color);
  width: 100%;
}

.sidebar, main {
  padding: 32px;
}

body{
  display: flex;
  justify-content: center;
}

#modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: var(--card-background);
  border: 1px solid #ddd;
  border-radius: 15px;
  color: var(--text-color);
}

.modal-content {
  flex: auto;
  width: 100%;
}

.close-btn{
  background-color: rgb(100, 50, 50);
}

#project-list, #todo-container{
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  font-size: 30pt;
  padding-bottom: 16px;
}

button{
  border: 2px solid white;
  border-radius: 8px;
  width: 100%;
  padding: 8px 32px;
  background-color: grey;
  color: var(--text-color);
  font-weight: bold;
}

button:hover{
  box-shadow: 0px 0px 5px 1px red;;
}

.project-card, .todo-card{
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 8px;
}

